.pembeli-container {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.pembeli-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.pembeli-table th, .pembeli-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.pembeli-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.edit-button, .delete-button, .add-button {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

.edit-button {
  background-color: #28a745;
}

.edit-button:hover {
  background-color: #2e7732;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #a42c2a;
}

.add-button {
  background-color: #356879;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #007bb5;
}

.form-pembeli {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  position: relative;
  margin: 20px auto;
}

.form-pembeli input,
.form-pembeli select {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: calc(100% - 22px); 
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.submit-button {
  background-color: #28a745;
}

.submit-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

.form-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-alert-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
  animation: zoomIn 0.3s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.toggle-form-button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  float: right; 
}

.toggle-form-button:hover {
  background-color: #0056b3;
}

.toggle-form-button i {
  margin-right: 8px; /* Space between icon and text */
}
